.cadastro {
    padding-top: 11em;
    text-align: center;
    height: 100vh;
}

.cadastro__container {

    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.cadastro__texto {
    font-weight: 400;
    font-size: 16px;
    color: var(--azul);
    padding: 1.2em 0;
}

.cadastro__nome {
    font-weight: 400;
    font-size: 16px;
    color: var(--cinza-escuro);
}

.cadastro__borda {
    background-color: var(--cinza-claro);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    width: 90%;
    padding: 0.5em;
    margin: 1em auto;
}

.cadastro__borda::placeholder {
    font-size: 12px;
    color: var(--cinza);
    text-align: center;
}

.cadastro__borda-senha::placeholder {
    background: url("../img/Vector.svg") no-repeat;
    background-position: 22em;
}

.cadastrar__botao {
    display: inline-block;
    border: 1px solid #FC7071;
    color: var(--branco);
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    padding: 0.8em 1em;
    background: var(--rose);
    width: 40%;
    margin: 1em auto;
    text-align: center;
}

.cadastro__texto-senha {
    font-size: 12px;
    font-weight: 400;
    color: var(--rose);
    text-decoration: underline;
}

@media screen and (min-width: 768px){

    .cadastro {
        padding-top: 12em;
        text-align: center;
        height: 95vh;
    }
    .cadastro__logo{
        width: 250px;
        margin: 0 auto;
        padding-bottom: 2em;
    }

    .cadastro__container {
        width: 80vw;
        margin: 0 auto;
    }

    .cadastro__texto {
        font-size: 18px;
        padding-bottom: 3em;
    }

    .cadastro__nome{
        font-size: 18px;
    }

    .cadastro__borda {
        width: 50%;
    }

    .cadastrar__botao{
        width: 20%;
    }
}

@media screen and (min-width: 1440px){

    .cadastro__container {
        width: 40vw;
        margin: 0 auto;
    }

    .cadastro__texto {
        font-size: 18px;
        padding-bottom: 3em;
    }

    .cadastro__borda {
        width: 80%;
    }

    .cadastro__borda-senha{
        width: 50%;
    }

    .cadastrar__botao {
        width: 10%
    }
}