.card {
    width: 100%;
    padding-top: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__chamada {
    font-size: 16px;
    font-weight: 400;
    width: 60%;
    text-align: center;
    color: var(--azul);
    padding: 2em 0;
}


.card__card {
    width: 100%;
    background: var(--cinza-claro);
    display: flex;
    justify-content: space-around;
    margin: 1em 0;

}

.card__container{
    width: 100%;
}

.card__imagem{
    padding: 1.5em 0.5em;
}

.card__nome {
    font-size: 16px;
    font-weight: 600;
    color: var(--azul);
    padding: 1em 0;
}

.card__descricao {
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza-escuro);
    line-height: 1.5em;
    padding-bottom: 2.5em;
}

.card__local {
    font-size: 12px;
    font-weight: 400;
    color: var(--cinza-escuro);
}

.card__contato{
    display: flex;
    align-items: center;
    padding-top: 0.5em;
}

.card__contato-frase {
    font-size: 10px;
    font-weight: 400;
    color: var(--cinza-escuro);
    padding-left: 1em;
}

.lateral__home{
    display: none;
}

@media screen and (min-width: 768px){

    .card{
        padding-top: 16em;
    }

    .card__chamada{
        font-size: 18px;
        width: 50%;
    }

    .card__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        width: 95%;
        padding-bottom: 2em;
    }

    .card__card {
        margin: 0;
    }
}

@media screen and (min-width: 1000px){

    .card{
        padding-top: 20em;
    }

    .card__chamada{
        font-size: 18px;
        width: 50%;
    }
}

@media screen and (min-width: 1440px){
    .card__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        width: 75%;
        padding-bottom: 2em;
    }

    .lateral__home{
        display: block;
    }

    .card__chamada{
        font-size: 18px;
    }
}
