.cabecalho__container {
    width: 98%;
    position: absolute;
}

.cabecalho__container-segundo {
    width: 100%;
    position: absolute;
}

.cabecalho__icone {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3em;
    padding-left: 3em;
}

.cabecalho__link {
    padding-right: 3em;
}

.cabecalho__home {
    padding-left: 5em;
}