.conteudo__principal {
    position: relative;
    min-height: 100%;
}

.principal {
    padding-top: 11em;
    text-align: center;
    height: 95vh;
}

.principal__container {
    width: 65%;
    margin: 0 auto;
}

.principal__primario {
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-size: 26px;
    color: var(--branco);
    padding: 1em 0;
}

.principal__texto {
    font-weight: 400;
    font-size: 16px;
    color: var(--branco);
    padding: 0.5em 0;
    line-height: 24px;
}

.principal__botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal__link {
    display: inline-block;
    border: 1px solid #FC7071;
    box-shadow: 1px 1px 0.5em rgba(75, 75, 75, 0.8);
    font-weight: 600;
    font-size: 16px;
    color: var(--branco);
    background-color: var(--rose);
    border-radius: 6px;
    padding: 0.7em;
    width: 80%;
    margin: 0.5em 0;

}

.banner__lateral {
    position: absolute;
    right: 0;
    top: 18%;
}

.banner__lateral-esquerdo {
    position: absolute;
    top: 45%;
}


.banner__container {
    width: 250px;
    margin: 0 auto;
}

.banner__imagem {
    position: absolute;
    bottom: -2%;
}

.patas {
    position: absolute;
    right: 0px;
}

.alto{
    display: none;
}

.baixo {
    display: block;
}

.banner__esconder-pequeno{
    display: none;
}

@media screen and (min-width: 768px){
    .principal {
        padding-top: 15em;
        text-align: center;
        height: 75vh;
    }

    .principal__container {
        width: 45%;
        margin: 0 auto;
    }

    .principal__logo{
        width: 250px;
        margin: 0 auto;
        margin-bottom: 1.5em;
    }

    .principal__primario {
        font-size: 28px;
    }

    .principal__texto{
        font-size: 18px;
        line-height: 26px;
        padding-bottom: 2em;
    }


    .alto{
        display: block;
    }
    
    .baixo {
        display: none;
    }

    .banner__lateral {
        position: absolute;
        top: 18%;
        width: 120px;
    }

    .banner__container {
        width: 280px;
        margin: 0 auto;
    }

    .patas {
        position: absolute;
        right: 0px;
        width: 250px;
    }

    .pata__foto{
        max-width: 100%;
        max-height: 100%;
    }

    .banner__esconder-medio{
        display: none;
    }

    .banner__esconder-pequeno{
        display: block;
    }

    .banner__lateral {
        position: absolute;
        right: 0;
        top: 30%;
        width: 100px;
    }
}

@media screen and (min-width: 900px){
    .principal {
        padding-top: 15em;
        text-align: center;
        height: 200vh;
    }

    .banner__container {
        width: 180px;
        margin: 0 auto;
    }

    .banner__lateral {
        position: absolute;
        top: 18%;
        width: 100px;
    }

}

@media screen and (min-width: 1440px){
    .principal {
        padding-top: 10em;
        text-align: center;
        height: 100vh;
    }

    .principal__container {
        width: 25%;
        margin: 0 auto;
    }

    .patas {
        position: absolute;
        right: 0px;
    }

    .banner__lateral {
        position: absolute;
        top: 18%;
        width: 120px;
    }

}