.principal {
    padding-top: 11em;
    position: absolute;
    text-align: center;
}

.principal__container {
    width: 65%;
    margin: 0 auto;
}

.principal__primario {
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-size: 26px;
    color: var(--branco);
    padding: 1em 0;
}

.principal__texto {
    font-weight: 400;
    font-size: 16px;
    color: var(--branco);
    padding: 0.5em 0;
    line-height: 24px;
}

.principal__botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal__link {
    display: inline-block;
    border: 1px solid #FC7071;
    box-shadow: 1px 1px 0.5em rgba(75, 75, 75, 0.8);
    font-weight: 600;
    font-size: 16px;
    color: var(--branco);
    background-color: var(--rose);
    border-radius: 6px;
    padding: 0.7em;
    width: 80%;
    margin: 0.5em 0;

}

.banner__lateral {
    position: absolute;
    right: 0;
    top: 18%;
}

.banner__lateral-esquerdo {
    position: absolute;
    top: 45%;
}

.banner__inferior {
    position: absolute;
    width: 100%;
    bottom: -10%;
}

.banner__container {
    width: 80%;
    margin: 0 auto;
}
.patas {
    position: absolute;
    right: 0px;
}